#myFooter {
    background-color: #000080;
    color: white;
    margin-top: 50px;
    text-align: center;
  }
  
  #myFooter .footer-copyright {
    background-color: #172c3c;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
  }
  
  #myFooter .footer-copyright p {
    text-align: center;
    margin: 10px;
    color: rgb(255, 255, 255);
  }

  .nav {
    background-color: #d8d4ff;
  }

  #myFooter a[href="sobre.html"] {
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Altera a cor do texto para preto */
  }


  #myFooter a[href="materiais.html"] {
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Altera a cor do texto para preto */
  }

  #myFooter a[href="objetivos.html"] {
    text-decoration: none; /* Remove o sublinhado */
    color: white; /* Altera a cor do texto para preto */
  }